@using Restaurnat.BLL.ModelVM.Feedback
@model CreateFeedbackVM

<!-- Section Title -->
<div class="container section-title">
	<h2>Create Feedback<br></h2>
	<p><span>Learn More</span> <span class="description-title">About Us</span></p>
</div><!-- End Section Title -->


<form asp-action="Create" asp-controller="Feedback">
  <div class="mb-3">
	<label for="UserId" class="form-label">User Id</label>
	<input type="text" asp-for="UserId" class="form-control" id="UserId">
	<span class ="text-danger" asp-validation-for="UserId"></span>
  </div>
  <div class="mb-3">
	<label for="rating" class="form-label">Rating</label>
	<input type="text" asp-for="rating" class="form-control" id="rating">
	<span class ="text-danger" asp-validation-for="rating"></span>
  </div>
  <div class="mb-3">
	<label for="comment" class="form-label">Comment</label>
	<input type="text" asp-for="comment" class="form-control" id="comment">
	<span class ="text-danger" asp-validation-for="comment"></span>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>