    <!-- Chefs Section -->

@using Restaurnat.BLL.ModelVM.Chef
@model List<GetChefVM>

    <section id="chefs" class="chefs section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Chefs</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
            @if (Model != null && Model.Any())
            {
                foreach (var chef in Model)
                {
                    if (!chef.IsDeleted)
                    {
                      <div class="col-md-6">
                          <div class="chef-card" data-aos="zoom-in" data-aos-delay="300">
                           <div class="chef-img">
                               <img src="~/Files/@chef.imagepath" class="img-fluid" alt="Chef Image" style="/* width:100px; height:100px; */ object-fit:cover; /* border-radius:10% */;" />
                              <div class="social-links">
                                <a href="#"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-twitter-x"></i></a>
                                <a href="#"><i class="bi bi-facebook"></i></a>
                              </div>
                            </div>
                            <div class="chef-info">
                                <h4>@chef.name</h4>
                                <p class="role">@chef.category</p>
                                <p class="details">@chef.about</p>
                            </div>
                        </div>
                        </div>  
                    }
                    
                }
            }
            else
            {
             <div class="container section-title" data-aos="fade-up">
              <h2>No Chefs Found</h2>
             </div>
            }
      </div>
    </div>

    </section><!-- /Chefs Section -->