body, #page-content-wrapper {
    background-color: #1c1c1c !important;
    color: #fff;
}

#sidebar-wrapper {
    background-color: #222 !important;
    color: #fff;
}

    #sidebar-wrapper .list-group-item {
        background-color: #222 !important;
        color: #fff !important;
    }

.navbar {
    background-color: #333 !important;
    color: #fff !important;
}

    .navbar .navbar-text {
        color: #fff !important;
    }
